# 구글 시트를 "웹에 게시"한 후 발급되는 CSV 링크를 여기에 붙여넣으세요.
# 예: https://docs.google.com/spreadsheets/d/e/2PACX-xxxxxxxx/pub?gid=0&single=true&output=csv
VITE_SHEET_CSV_URL= https://docs.google.com/spreadsheets/d/12CMAp4hky_VqK7kKeNq46wTe3Pz8NxInZotL0B0uU0k/edit?gid=1451151836#gid=1451151836
